.banner {
    color: white;
    /* object-fit: contain; */
    height: 450px;
    object-fit: none;
    object-position: 50% 50%;
    object-position: 0 0;
}

.banner__contents {
    margin-left: 50px;
padding-top: 50px;
}

.banner__fadebottom {
    height: 300px;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37, 0.61),
        #111
    );
}