.nav {
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    justify-content: space-between;
    padding:15px;
    background-color: rgba(0,0,0,0.4);
    height: 30px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.nav__white {
    background-color: #f1f2f5;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.8);
}

.nav__logo {
    width: 150px;
  
}

.nav__left {
    display: flex;
    align-items: center;
}

.left__menu {
    display: flex;
    margin-left: 20px;
}

.right__menu {
    display: flex;
}