.row {
    /* margin-left: 40px; */
}

.row > h2 {
    margin-left: 70px;
    margin-top: 30px;
}
.row__posters {
    display: flex;
    overflow-y: hidden ;
    overflow-x: scroll;
    margin-bottom: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 30px;
    padding-left: 40px;
}

/* .row__posters::-webkit-scrollbar {
    display: none;
} */

.row__poster {
    width: 150px;
    object-fit: contain;
    height: 220px;
    transition: transform 450ms;
    margin-right: 15px;
    border-radius: 10px;
 
}

.row__poster:hover {
transform: scale(1.05);
/* opacity: 1; */
cursor: pointer;
}

.row__posters .title__movie {
    color: black;
    font-weight: 600;
    font-size: 15px
}

.row__posters .date__movie {
    color: gray;
    font-weight: 400;
    font-size: small
}

.row__ratingCircle {
    background-color: #474747;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    padding-inline: 10px;

}

.date__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 18px;
}